@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
#timing-1{
    height:600px;
    width: 50%;
    background: #000;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

#timing-1 h2{
    color: #fff;
    padding: 16px 0px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
}

#location{
    color:#fff;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: 200;
}

#timing-1 p{
    padding: 16px 0px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: 200;
}

#timing-2{
    height:600px;
    width: 50%;
    
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

#timings{
    display: flex;
    flex-direction: row;
}
